body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.row{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
        border-radius: 30px;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.btn{
    padding: 10px 30px;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
    border-radius: 30px;
        box-shadow: 2px 2px 10px black;
        transition: background-color 0.3s ease-in;
}
#start{
    background-color: green;
    color: white;
    border: none;
}
#stop{
    background-color: red;
    color: white;
    border: none;
}
#reset{
    background-color: orange;
    color: white;
    border: none;
}
#start:hover{
    background-color: rgba(0, 128, 0, 0.669);
    color: white;
    border: none;
}

#stop:hover{
    background-color: rgb(255, 0, 0,0.669);
    color: white;
    border: none;
}

#reset:hover{
    background-color: rgb(255, 165, 0,0.669);
    color: white;
    border: none;
}
.display{
    color:rgba(0, 0, 0, 0.752);
    font-size: 80px;
    font-weight: bold;
    box-shadow: 2px 2px 10px black;
    padding: 10px 30px;
            backdrop-filter: blur(3px);
                border-radius: 30px;
                text-align: center;
}