*{
    margin:1px;
}
body{
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FsY3VsYXRvcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col{
    width: 190px;
    display: inline-block;
        border-radius: 30px;
        padding: 35px;
        background-color: #000000b3;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
button{
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 1px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color: white;
    background: #00000094;
    backdrop-filter: blur(3px);
}
button:hover{
    background: #100f0f5e;
}
input{
    width: 100%;
    height: 13%;
    border: none;
    border-radius: 30px;
    color: white;
background-color: rgb(109, 108, 108);
text-align: left;
font-size: 20px;
padding-left: 14px;

align-items: center;
}
.sign{
    background-color: orange;
    width: 50px;
    border-radius: 20px;
}
.sign:hover{
    background-color: rgba(255, 166, 0, 0.8);
}
.upsign{
    background-color: rgb(109, 108, 108);
}
#ac:hover{
    background-color: rgba(255, 0, 0, 0.381);
}