*{
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    }
h1{
    font-size: 40px;
    background: rgba(50, 50, 50, 0.419);
    padding: 10px;
    border-radius: 30px;
}
#row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body{
    margin-top: 10px;
    background-image:url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#form{
    margin-top: 30px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    background: transparent;
    backdrop-filter: blur(3px);
}
button{
    padding: 7px 10px;
    border-radius: 30px;
    border:none;
    background-color: rgba(125, 124, 124, 0.419);
    color:aliceblue;
    padding: 10px;
}
button:hover{
    background-color: rgba(37, 37, 37, 0.419);
}
#input{
    border: 1px solid rgb(159, 147, 147);
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(125, 124, 124, 0.419);
}
#out{
    background-color: rgba(22, 18, 18, 0.419);
}
#out{
    color: red;
}