*{
    margin:0px;
    padding:0px;
}
#head{
    font-size: larger;
    background-color: #081b31;
    color: aliceblue;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    text-align: center;
    align-items:center;
}
#img{
    margin-top: 5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}
img{
    background-size: cover;
    border-radius: 50%;
    height:10rem;
    width: 10rem;
    margin: 10px;  
}
img:hover{
    opacity:50%;
    background-size: cover;
    border:1px solid #081b31;
    border-radius: 50%;
    margin: 10px;
    justify-content: center;
}
#scoreB{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}
.same{
    font-size: 40px;
    margin: 30px;
}
.mss{
        font-size: 40px;
    justify-content: center;
        text-align: center;
        background-color: #081b31;
        color: #fff;
        padding: 2rem;
        border-radius: 2rem;     
            display: flex;
            align-items: center;
            margin: 0 auto;
            background-color: #081b31;
            color: white;
            width: 400px;
            height: 60px;
            border-radius: 10px;
            transition: background-color 0.3s ease; }
